<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vrlease.mapper.ShoppingCartMapper">
    <insert id="insert">
        insert into shopping_cart(name,user_id,device_id,number,amount,image,create_time)
        values(#{name},#{userId},#{deviceId},#{number},#{amount},#{image},#{createTime})
    </insert>
    <delete id="deleteByUserId">
        delete from shopping_cart where user_id=#{userId}
    </delete>


    <select id="list" resultType="com.vrlease.entity.ShoppingCart">
        select * from shopping_cart
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="deviceId != null">
                and device_id = #{deviceId}
            </if>
        </where>
    </select>
</mapper>
