<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vrlease.mapper.UserMapper">


    <insert id="insertByPhone">
        insert into user(phone,username,create_time,update_time)
        values(#{phone},#{username},#{createTime},#{updateTime})
    </insert>
    <insert id="insert">
        insert into user(username,password,phone,create_time,update_time)
        values(#{username},#{password},#{phone},#{createTime},#{updateTime})
    </insert>
    <select id="findUserBymail" resultType="com.vrlease.entity.User">
        select * from user where mail=#{mail}
    </select>
</mapper>
